body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.slideshow-container {
    position: relative;
    width: 50%;
    margin: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #005f73;
}

#timer {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

  
footer img {
    width: 88px;
    height: 31px; 
    display: block; 
    margin: 5px auto; 
}
}
